body {
  background-color: black;
}
div {
  margin-top: 100px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
img {
  border: white solid 5px;
}
h1 {
  color: white;
  text-transform: uppercase;
}
p {
  color: white;
}
